.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea
.idea/.name


.example1/.idea
.example1/node_modules
.example1/dist
.example1/dist/ng7-pre

.messagesBetweenComponents/.idea
.messagesBetweenComponents/node_modules

.repo-angular-examples/.idea
.repo-angular-examples/node_modules


.angular-8-website-example/.idea
.angular-8-website-example/node_modules
.angular-8-website-example/dist
.angular-8-website-example/e2e



