.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea
.idea/.name


.example1/.idea
.example1/node_modules

.messagesBetweenComponents/.idea
.messagesBetweenComponents/node_modules

.repo-angular-examples/.idea
.repo-angular-examples/node_modules

