<div [@routerTransition]>

    <div class="alert alert-success">
        <strong>it consultancy</strong>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Our philosophy</div>
                <div class="card-body">
                    <h4 class="card-title">Our philosophy</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Our Principles</div>
                <div class="card-body">
                    <h4 class="card-title">Our Principles</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Our Values</div>
                <div class="card-body">
                    <h4 class="card-title">Success card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>

    <img class="img-thumbnail imgLang" src="assets/images/languages/akka.png" alt="akka">
    <img class="img-thumbnail imgLang" src="assets/images/languages/angular.png" alt="angular">
    <img class="img-thumbnail imgLang" src="assets/images/languages/docker.png" alt="docker">

    <img class="img-thumbnail imgLang" src="assets/images/languages/git.png" alt="git">
    <img class="img-thumbnail imgLang" src="assets/images/languages/gradle.png" alt="gradle">
    <img class="img-thumbnail imgLang" src="assets/images/languages/helm.png" alt="helm">


    <img class="img-thumbnail imgLang" src="assets/images/languages/java.png" alt="java">
    <img class="img-thumbnail imgLang" src="assets/images/languages/javaScript.png" alt="javaScript">
    <img class="img-thumbnail imgLang" src="assets/images/languages/kubernetes.png" alt="kubernetes">

    <img class="img-thumbnail imgLang" src="assets/images/languages/ms-azure.png" alt="ms-azure">
    <img class="img-thumbnail imgLang" src="assets/images/languages/nodeJS.png" alt="nodeJS">
    <img class="img-thumbnail imgLang" src="assets/images/languages/playFramework.png" alt="playFramework">


    <img class="img-thumbnail imgLang" src="assets/images/languages/sbt.png" alt="sbt">
    <img class="img-thumbnail imgLang" src="assets/images/languages/scala.png" alt="scala">
    <img class="img-thumbnail imgLang" src="assets/images/languages/SpringBoots.png" alt="SpringBoots">


    <img class="img-thumbnail imgLang" src="assets/images/languages/cassandra.png" alt="cassandra">
    <img class="img-thumbnail imgLang" src="assets/images/languages/mySql.png" alt="mySql">
    <img class="img-thumbnail imgLang" src="assets/images/languages/elastic-search.png" alt="elastic-search">


    <img class="img-thumbnail imgLang" src="assets/images/languages/oracle.png" alt="oracle">
    <img class="img-thumbnail imgLang" src="assets/images/languages/mySql.png" alt="mySql">
    <img class="img-thumbnail imgLang" src="assets/images/languages/html-ccs.png" alt="html-ccs">


    <div class="page-header">
        <h1>How we work</h1>
        <hr>
    </div>

</div>
