<div [@routerTransition]>


    <div class="alert alert-success">
        <strong>Clients</strong>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Our philosophy</div>
                <div class="card-body">
                    <h4 class="card-title">Our philosophy</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Our Principles</div>
                <div class="card-body">
                    <h4 class="card-title">Our Principles</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Our Values</div>
                <div class="card-body">
                    <h4 class="card-title">Success card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>

    <img class="img-thumbnail imgLang" src="assets/images/companies/MOJ.png" alt="Ministry of justice">
    <img class="img-thumbnail imgLang" src="assets/images/companies/tesco.png" alt="Tesco Bank">
    <img class="img-thumbnail imgLang" src="assets/images/companies/napier.png" alt="Napier">

    <img class="img-thumbnail imgLang" src="assets/images/companies/o2.png" alt="O2">
    <img class="img-thumbnail imgLang" src="assets/images/companies/moniti.png" alt="Monitise">
    <img class="img-thumbnail imgLang" src="assets/images/companies/misys.png" alt="Misys">


    <img class="img-thumbnail imgLang" src="assets/images/companies/quadriga.png" alt="Quadriga">
    <img class="img-thumbnail imgLang" src="assets/images/companies/globant.png" alt="Globant">
    <img class="img-thumbnail imgLang" src="assets/images/companies/herald.png" alt="Herald">

    <img class="img-thumbnail imgLang" src="assets/images/companies/PanEnergy.png" alt="PanEnergy">
    <img class="img-thumbnail imgLang" src="assets/images/companies/personal.png" alt="Personal">
    <img class="img-thumbnail imgLang" src="assets/images/companies/cubika.png" alt="Cubika">


    <img class="img-thumbnail imgLang" src="assets/images/companies/osde.png" alt="Osde">
    <img class="img-thumbnail imgLang" src="assets/images/companies/w3.jpg" alt="W3">
    <img class="img-thumbnail imgLang" src="assets/images/companies/payD.png" alt="PayDeh">


    <img class="img-thumbnail imgLang" src="assets/images/companies/boca.png" alt="Boca juniors">
    <img class="img-thumbnail imgLang" src="assets/images/companies/GaliciaBank.jpg" alt="Banco de Galicia">


    <div class="page-header">
        <h1>How we work</h1>
        <hr>
    </div>


</div>
